*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix{
	content: '';
	height: 0;
	line-height: 0;
	display: block;
	/*visibility: hidden;*/
	clear: both;
}
