
body{
	margin: 0;
	padding: 0;
	border: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
#wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}

#col{
	background: url('../img/bnr1.jpg')  no-repeat;
		background-size: cover;
		opacity: 1;
		height: 100%;
		width: 100%;
		
		}
.bottom_show{
	width:100%;
	height: 45px;
	background-color: dimgray;
	opacity: 0.5;
	 position: absolute;
	 bottom: 0;
	 left: 0;
}
#direction-nav1,#direction-nav2{
		position: absolute;
		height: 30px;
		width: 30px;		
		z-index: 1600;
		
}
#direction-nav1{
		background: url('../img/leftButton.png') center center no-repeat;
		bottom: 5px;	
		left: 30%;		
}
	#direction-nav2{
	
		background: url('../img/rightButton.png') center center no-repeat;
		bottom: 5px;
		left: 35%;	
}

